@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    width: 100%;
    --c_fondo: #ebf6ff; /* Color de Fondo (Neutral) */
    --c_fondo_alt: #89afd3; /* Color de Fondo Alternativo (Neutral) */
    --c_primario: #4169E1; /* Color Primario (Vibrante) */
    --c_texto: #1B3F61; /* Color de Texto (Serio) */
    --font_type: "Roboto", sans-serif; /* Fuente tipográfica */
  }

* {
    margin: 0;
    padding: 0;
}

.img_diamante {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--c_fondo);
    color: var(--c_texto);
    font-family: var(--font_type);
}

header {
    width: 100%;
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 80vw;
    height: 80vh;
    height: 300px;
    border: none; /* Ojo acá con el borde*/
}
/* PRIMERA SECCIÓN */

.section_input {
    display: flex;
}

#input_text {
    font-size: 24px;
    background-color: var(--c_fondo);
    color: var(--c_texto);
    font-family: var(--font_type);
    text-align: center;
    padding-top: 100px;
    border: none;
    resize: none;
}

#input_text:focus {
    outline: none;
    transition: opacity 1s ease;
}

#input_text::placeholder {
    color: var(--c_texto);
    font-weight: 400;
    transition: opacity 1s ease;
  }

#input_text:hover::placeholder {
    opacity: 0.2;
}

/* SEGUNDA SECCIÓN */

.section_btn {
    justify-content: center;
    gap: 5vw;
}

.div_section_btn1 {
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    padding-left: 12px;
    font-size: 0.8rem;
    font-weight: 500;
}

.div_icon {
    margin: 4% 0 0 4%;
}

.img_icon_signo_excla {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.div_section_btn2 {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

button {
    display: block;
    background-color: var(--c_texto);
    color: #fdfeff;
    font-family: var(--font_type);
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 10px 60px 10px 60px;
    box-shadow: 2px 2px 6px var(--c_texto);
}

.div_section_btn2 button:hover {
    opacity: 0.7;
    color: #fdfeff;
    cursor: pointer;
    box-shadow: 1.5px 1.5px 3px var(--c_texto);
}

/* TERCERA SECCIÓN */

.section_output {
    justify-content: space-between;
    color: #072541ce;
    border-radius: 10px;
}

.div_output {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid var(--c_texto);
    padding: 10% 4%;
    border-radius: 10px;
    margin-bottom: 5%;
    background-color: #fdfeff;
    box-shadow: 2px 2px 6px var(--c_texto);
    min-height: 40%;
    min-width: 70%;
}

#p_output {
    max-width: 100%;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}

.div_copy {
    display: none;
    justify-content: center;
    margin: 10% 0;
}

.div_copy button:hover {
    opacity: 0.7;
    color: #fdfeff;
    cursor: pointer;
    box-shadow: 1.5px 1.5px 3px var(--c_texto);
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer p {
    display: block;
    padding-bottom: 1%;

}
/* KEY FRAMES */

@keyframes parpadeo {

    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }

}

/* MEDIA QUERIES */
@media (min-width: 570px) and (max-width: 1200px) {
    .section_output {
        height: min-content;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {

    .div_section_btn2 {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        row-gap: 12vw;
    }

}

@media (min-width: 1201px) {

    .div_input, .section_output {
        display: flex;
        flex-direction: column;
    }

    .section_input, .section_btn {
        height: 50%;
    }

    .section_output {
        height: 100vh;
    }
                                            
    .div_output {
        height: 70%;
        width: auto;
        padding: 23% 10%;
        margin-right: 10%;
    }
    

    .div_section_btn2 {
        flex-direction: row;
        row-gap: 16vw;
    }

    main {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    body {
        width: 100%;
    }

    .img_diamante {
        display: block;
        width: 80%;
        height: max-content;
        align-self: center;
    }

}